body{
    margin: 0px;
    background-image: linear-gradient(white, lightseagreen);

}

.brand{
    font-family: Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;

}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    font-family: Tahoma, sans-serif;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1 px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
    padding: 10px;
}

.portfolio-img-background {
    border-radius: 25px;
    height: 655px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
    /*box-shadow: 10px 10px 5px #ccc;*/
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    font-family: Tahoma, sans-serif;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    font-family: Tahoma, sans-serif;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(30%);
}

.shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
.profile-image-wrapper img {
    width: 100%;
  }
  
.profile-content-wrapper {
    padding: 30px;
  }
  
.profile-content-wrapper h1 {
    color: lightseagreen;
  }

  @media only screen and (max-width: 800px) {
    /* For desktop: */
    .portfolio-items-wrapper {
        display:block;
    }
  }